extends layout.pug

block styles
	link(rel='stylesheet' href='/league.css')
	style.
		.search-form {
			max-width: 300px;
		}

block content
	div.container.py-4
		h1.mb-4 Trades
		
		form.search-form.mb-4(method='GET' action='/admin/trades')
			div.input-group
				input.form-control(
					type='text'
					name='q'
					placeholder='Trade number (e.g., 600)'
					value=query
					autofocus
				)
				div.input-group-append
					button.btn.btn-outline-secondary(type='submit') Go
		
		if notFound
			div.alert.alert-warning
				| Trade ##{query} not found.
		else
			p.text-muted Enter a trade number to view and edit.
		
		div.mt-4
			a.btn.btn-secondary(href='/admin') ← Back to Admin
