extends layout.pug
include mixins

block title
	+title('Trades', 'Admin')

block styles
	link(rel='stylesheet' href='/league.css')
	link(rel='stylesheet' href='/css/admin-trades.css')

block content
	div.container.py-4
		h1.mb-4 Trades
		
		form.admin-trades__search.mb-4(method='GET' action='/admin/trades')
			div.input-group
				input.form-control(
					type='text'
					name='q'
					placeholder='Trade number (e.g., 600)'
					value=query
					autofocus
				)
				div.input-group-append
					button.btn.btn-outline-secondary(type='submit') Go
		
		if notFound
			div.alert.alert-warning
				| Trade ##{query} not found.
		else
			p.text-muted Enter a trade number to view and edit.
		
		div.mt-4
			a.btn.btn-secondary(href='/admin') ← Back to Admin
