extends layout.pug
include mixins

block title
	+title('Roster Management', 'Admin')

block styles
	link(rel='stylesheet' href='/css/league.css')
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/admin-rosters.css')

block content
	div.container.py-4
		h1.mb-4 Roster Management
		
		if cutResult
			if cutResult.success
				div.alert.alert-success.alert-dismissible
					button.close(type='button' data-dismiss='alert') &times;
					strong Cut successful!
					|  #{cutResult.playerName} has been released.
					if cutResult.buyOuts && cutResult.buyOuts.length
						|  Buyouts: 
						each bo, i in cutResult.buyOuts
							if i > 0
								| , 
							| #{bo.season}: #{formatMoney(bo.amount)}
			else
				div.alert.alert-danger.alert-dismissible
					button.close(type='button' data-dismiss='alert') &times;
					strong Error:
					|  #{cutResult.error}
		
		div.row
			each franchise in franchises
				div.col-lg-6.col-xl-4
					div.card.admin-rosters__card
						div.card-header
							strong= franchise.displayName
						div.card-body
							if franchise.roster.length === 0
								p.text-muted.mb-0 No players on roster
							else
								each player in franchise.roster
									div.admin-rosters__player
										div.admin-rosters__player-info
											div.admin-rosters__player-name-row
												span.admin-rosters__player-name= player.name
												if player.positions && player.positions.length
													+positionBadge(player.positions)
											div.admin-rosters__player-meta
												if player.salary !== null
													| #{formatMoney(player.salary)}
													if player.contract
														| , #{player.contract}
												else
													| RFA Rights
										form.admin-rosters__cut-form(method='POST' action='/admin/rosters/cut' onsubmit='return confirmCut(this)')
											input(type='hidden' name='franchiseId' value=franchise._id)
											input(type='hidden' name='playerId' value=player.playerId)
											input(type='hidden' name='playerName' value=player.name)
											if player.salary !== null
												button.btn.btn-sm.btn-outline-danger.admin-rosters__cut-btn(type='submit')
													i.fa.fa-scissors.mr-1
													| Cut
											else
												button.btn.btn-sm.btn-outline-secondary.admin-rosters__cut-btn(type='submit')
													i.fa.fa-times.mr-1
													| Drop
		
	//- Confirmation Modal
	div#cutModal.modal.fade(tabindex='-1' role='dialog')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					h5.modal-title Cut Player
					button.close(type='button' data-dismiss='modal')
						span &times;
				div.modal-body
					p#cutModalMessage
					if phase === 'dead-period'
						div.alert.alert-warning.mb-0
							i.fa.fa-exclamation-triangle.mr-2
							| This is during the dead period. Are you sure?
				div.modal-footer
					button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
					button#cutModalConfirm.btn.btn-danger(type='button')
						i.fa.fa-scissors.mr-1
						| Cut

block scripts
	script.
		var pendingForm = null;
		
		function confirmCut(form) {
			pendingForm = form;
			var playerName = form.querySelector('input[name="playerName"]').value;
			document.getElementById('cutModalMessage').textContent = 'Are you sure you want to cut ' + playerName + '?';
			$('#cutModal').modal('show');
			return false;
		}
		
		document.getElementById('cutModalConfirm').addEventListener('click', function() {
			if (pendingForm) {
				pendingForm.submit();
			}
		});
