extends layout
include mixins

block title
	+title('Approve Trades', 'Admin')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/trade-history.css')
	link(rel='stylesheet' href='/css/admin-proposals.css')

block content
	div.container.py-4

		h1.mb-4 Approve Trades

		if proposals.length === 0
			div.alert.alert-info
				i.fa.fa-inbox.mr-2
				| No trades waiting for approval.
		else
			div.row
				div.col-lg-7.col-xl-5
					each proposal in proposals
						div.card.admin-proposals__card.mb-4
							//- Trade card display (same as trade-history)
							div.trade-card.trade-card--single
								div.trade-card__timestamp.trade-card__timestamp--inline
									span.trade-card__date= formatDateLong(proposal.finalAcceptedAt)
									span.trade-card__time= formatTime(proposal.finalAcceptedAt)
								
								each party in proposal.parties
									+tradeParty(party)
								
								//- Budget Impact
								- var budgetImpact = proposal.budgetImpact
								include partials/budget-impact-table
							
							div.card-footer
								div.d-flex
									button.btn.btn-outline-danger.btn-sm.admin-proposals__reject-btn.mr-2(data-proposal-id=proposal._id)
										i.fa.fa-times.mr-1
										| Reject
									button.btn.btn-success.btn-sm.admin-proposals__approve-btn(data-proposal-id=proposal._id)
										i.fa.fa-check.mr-1
										| Approve
								
								div.admin-proposals__result.mt-2(data-proposal-id=proposal._id)

block scripts
	script.
		$('.admin-proposals__approve-btn').on('click', function() {
			var $btn = $(this);
			var proposalId = $btn.data('proposal-id');
			var $result = $('.admin-proposals__result[data-proposal-id="' + proposalId + '"]');
			
			$btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin mr-1"></i> Approving...');
			$result.empty();
			
			$.ajax({
				url: '/admin/proposals/' + proposalId + '/approve',
				method: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({}),
				success: function(response) {
					// Redirect to the trade
					window.location.href = '/trades/' + response.tradeId;
				},
				error: function(xhr) {
					$btn.prop('disabled', false).html('<i class="fa fa-check mr-1"></i> Approve');
					var errors = (xhr.responseJSON || {}).errors || ['Unknown error'];
					var html = '<div class="alert alert-danger alert-sm mb-0">';
					errors.forEach(function(err, i) {
						if (i > 0) html += '<br>';
						html += '<i class="fa fa-exclamation-circle mr-2"></i>' + err;
					});
					html += '</div>';
					$result.html(html);
				}
			});
		});
		
		$('.admin-proposals__reject-btn').on('click', function() {
			if (!confirm('Are you sure you want to reject this proposal?')) return;
			
			var $btn = $(this);
			var proposalId = $btn.data('proposal-id');
			var $result = $('.admin-proposals__result[data-proposal-id="' + proposalId + '"]');
			
			$btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin mr-1"></i> Rejecting...');
			$result.empty();
			
			$.post('/admin/proposals/' + proposalId + '/reject')
				.done(function() { location.reload(); })
				.fail(function(xhr) {
					$btn.prop('disabled', false).html('<i class="fa fa-times mr-1"></i> Reject');
					var errors = (xhr.responseJSON || {}).errors || ['Unknown error'];
					var html = '<div class="alert alert-danger alert-sm mb-0">';
					errors.forEach(function(err, i) {
						if (i > 0) html += '<br>';
						html += '<i class="fa fa-exclamation-circle mr-2"></i>' + err;
					});
					html += '</div>';
					$result.html(html);
				});
		});
