extends layout
include mixins

block title
	+title('Approve Trades', 'Admin')

block styles
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/admin-proposals.css')

block content
	div.container.py-4
		p: a(href='/admin') ← Back to Admin

		h1.mb-4 Approve Trades

		if proposals.length === 0
			div.alert.alert-info
				i.fa.fa-inbox.mr-2
				| No trades waiting for approval.
		else
			each proposal in proposals
				div.card.admin-proposals__card.mb-3
					div.card-body
						div.d-flex.justify-content-between.align-items-start.mb-3
							div
								small.text-muted
									| Proposed by #{proposal.createdBy} · #{formatDateTime(proposal.createdAt)}
							div
								a.btn.btn-sm.btn-outline-secondary(href='/proposals/' + proposal.publicId)
									i.fa.fa-eye.mr-1
									| View Details
						
						div.admin-proposals__party-summary.mb-3
							each party in proposal.parties
								div.admin-proposals__party
									div.admin-proposals__party-name= party.displayName
									div.admin-proposals__receives
										if party.playerCount > 0
											span.mr-2
												i.fa.fa-user.mr-1
												| #{party.playerCount} player#{party.playerCount > 1 ? 's' : ''}
										if party.pickCount > 0
											span.mr-2
												i.fa.fa-ticket.mr-1
												| #{party.pickCount} pick#{party.pickCount > 1 ? 's' : ''}
										if party.cashCount > 0
											span
												i.fa.fa-dollar.mr-1
												| #{party.cashCount} cash
										if party.playerCount === 0 && party.pickCount === 0 && party.cashCount === 0
											span.text-muted
												i.fa.fa-times.mr-1
												| Nothing
						
						div.d-flex.align-items-center
							div.input-group.input-group-sm.mr-2(style="max-width: 300px")
								input.form-control.admin-proposals__notes(type="text" placeholder="Notes (optional)" data-proposal-id=proposal._id)
							button.btn.btn-success.btn-sm.admin-proposals__approve-btn.mr-2(data-proposal-id=proposal._id)
								i.fa.fa-check.mr-1
								| Approve
							button.btn.btn-outline-danger.btn-sm.admin-proposals__reject-btn(data-proposal-id=proposal._id)
								i.fa.fa-times.mr-1
								| Reject
						
						div.admin-proposals__result.mt-2(data-proposal-id=proposal._id)

block scripts
	script.
		$('.admin-proposals__approve-btn').on('click', function() {
			var $btn = $(this);
			var proposalId = $btn.data('proposal-id');
			var notes = $('.admin-proposals__notes[data-proposal-id="' + proposalId + '"]').val().trim() || null;
			var $result = $('.admin-proposals__result[data-proposal-id="' + proposalId + '"]');
			
			$btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin mr-1"></i> Approving...');
			$result.empty();
			
			$.ajax({
				url: '/admin/proposals/' + proposalId + '/approve',
				method: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({ notes: notes }),
				success: function(response) {
					// Redirect to the trade
					window.location.href = '/trades/' + response.tradeId;
				},
				error: function(xhr) {
					$btn.prop('disabled', false).html('<i class="fa fa-check mr-1"></i> Approve');
					var errors = (xhr.responseJSON || {}).errors || ['Unknown error'];
					var html = '<div class="alert alert-danger alert-sm mb-0">';
					errors.forEach(function(err, i) {
						if (i > 0) html += '<br>';
						html += '<i class="fa fa-exclamation-circle mr-2"></i>' + err;
					});
					html += '</div>';
					$result.html(html);
				}
			});
		});
		
		$('.admin-proposals__reject-btn').on('click', function() {
			if (!confirm('Are you sure you want to reject this proposal?')) return;
			
			var $btn = $(this);
			var proposalId = $btn.data('proposal-id');
			var $result = $('.admin-proposals__result[data-proposal-id="' + proposalId + '"]');
			
			$btn.prop('disabled', true).html('<i class="fa fa-spinner fa-spin mr-1"></i> Rejecting...');
			$result.empty();
			
			$.post('/admin/proposals/' + proposalId + '/reject')
				.done(function() { location.reload(); })
				.fail(function(xhr) {
					$btn.prop('disabled', false).html('<i class="fa fa-times mr-1"></i> Reject');
					var errors = (xhr.responseJSON || {}).errors || ['Unknown error'];
					var html = '<div class="alert alert-danger alert-sm mb-0">';
					errors.forEach(function(err, i) {
						if (i > 0) html += '<br>';
						html += '<i class="fa fa-exclamation-circle mr-2"></i>' + err;
					});
					html += '</div>';
					$result.html(html);
				});
		});
