extends layout.pug
include mixins

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/draft-board.css')

block content
	div.container-fluid.py-3
		div.draft-board__header
			h1 #{season} Draft Board
			+seasonNav(season, quickSeasons, pastSeasons, 'Past Drafts')

		if Object.keys(rounds).length === 0
			div.alert.alert-info No picks found for #{season}
		else
			div.draft-board__rounds
				each pickList, round in rounds
					div.draft-board__round
						div.draft-board__round-header Round #{round}
						each pick in pickList
							- var rowClass = pick.positionGroup ? ('pos-' + pick.positionGroup) : (pick.status === 'passed' ? 'draft-board__pick--passed' : 'draft-board__pick--available')
							- var isMyPick = userFranchiseName && pick.currentOwner === userFranchiseName
							div.draft-board__pick(class=rowClass class=(isMyPick ? 'draft-board__pick--mine' : ''))
								div.draft-board__pick-num
									if pick.pickDisplay
										div #{pick.pickDisplay}
										div.draft-board__pick-num-raw ##{pick.pickNumber}
									else
										| —
								div.draft-board__pick-details
									if pick.playerName || pick.status === 'passed' || pick.status === 'used'
										div.draft-board__pick-player
											if pick.playerName
												span.draft-board__pick-player-name #{pick.playerName}
												if pick.positionDisplay
													span.draft-board__pick-position  #{pick.positionDisplay}
												if pick.salary
													span.draft-board__pick-salary  #{formatMoney(pick.salary)}
											else if pick.status === 'passed'
												span.draft-board__pick-player-name Passed
											else if pick.status === 'used'
												span.draft-board__pick-player-name.text-muted (unknown player)
										div.draft-board__pick-owner
											span #{pick.currentOwner}
											if pick.fromOwner
												span.draft-board__pick-from  (from #{pick.fromOwner})
									else
										div.draft-board__pick-owner
											span #{pick.currentOwner}
											if pick.fromOwner
												span.draft-board__pick-from  (from #{pick.fromOwner})
		
		hr.mt-4
		div.draft-board__legend.mt-3
			h6 Position Legend
			small
				span.mr-3.px-2.py-1.pos-QB QB
				span.mr-3.px-2.py-1.pos-RB RB
				span.mr-3.px-2.py-1.pos-WR WR
				span.mr-3.px-2.py-1.pos-TE TE
				span.mr-3.px-2.py-1.pos-IDP IDP
				span.mr-3.px-2.py-1.pos-K K
				span.mr-3.px-2.py-1.draft-board__pick--passed(style='font-style: italic;') Passed
