doctype html
html
	head
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='../h2h.css')
		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });

		title Head-to-Head Results

	body
		div.container
			p.my-2
				h1.text-center.mb-0 Head-to-Head Results
				h6.text-center Regular Season

			div.row.col-12
				table.table.table-hover.table-sm
					tr
						th 
						each franchiseOwner in franchises
							th.text-center.text-danger #{franchiseOwner}

					each franchiseOwner in franchises
						tr
							th.text-right.text-success #{franchiseOwner}

							each opponentOwner in franchises
								if opponentOwner == franchiseOwner
									td.text-center --
								else
									td.text-center
										-
											var gamesTable = '<div class="text-nowrap text-left">';
											gamesTable += headToHead[franchiseOwner][opponentOwner].games.join('<br />');
											gamesTable += '</div>';

										a(href='#' data-toggle='tooltip' data-placement='right' data-html='true' title=gamesTable) #{headToHead[franchiseOwner][opponentOwner].wins}-#{headToHead[franchiseOwner][opponentOwner].losses}
