include mixins.pug

doctype html
html
	head
		title All-Time Results

		link(type='text/css' rel='stylesheet' href='/history.css')

	body
		each leader in leaders
			div.leaders
				h4 #{leader.description}
				table
					each value, franchise in leader.franchises
						tr
							td.franchise #{franchise}
							td.value #{value}

		each season, year in history
			table.results
				tr
					th #{year}
					each games, week in season
						th Week #{week}

				each owner, franchise in owners[year]
					tr
						th #{owner}

						each games, week in season
							td
								div.score #{games[franchise].franchise.score}
								div.record
									+record(games[franchise].franchise.record.straight.cumulative)
								div.all-play-record
									+record(games[franchise].franchise.record.allPlay.cumulative)
								div.stern-record
									+record(games[franchise].franchise.record.stern.cumulative)
								div.opponent #{games[franchise].opponent.name}

				tr
					th.average Average

					each week, i in stats[year].weeks
						if i > 0
							td.average
								if week.average
									div.score #{week.average.toFixed(2)}

				tr
					th.stdev St. Dev.

					each week, i in stats[year].weeks
						if i > 0
							td.stdev
								if week.stdev
									div.score #{week.stdev.toFixed(2)}
