include mixins.pug

doctype html
html
	head
		title All-Time Results

		link(type='text/css' rel='stylesheet' href='/history.css')

	body
		each leader in leaders
			div.leaders
				h4 #{leader.description}
				table
					each franchiseValue in leader.values
						tr
							td.franchise #{franchiseValue._id}
							td.value #{franchiseValue.value}

		each season, year in history
			table.results
				tr
					th #{year}
					each games, week in season
						if week < 15
							th Week #{week}
						else if week == 15
							th Semifinals
						else if week == 16
							th Finals

					th.average Average
					th.stdev St. Dev.

				each owner, franchise in owners[year]
					tr
						th(class=owner.playoffs)
							if owner.playoffs
								| *
								|
							| #{owner.name}

						each games, week in season
							td
								if games[franchise] && games[franchise].type != 'consolation'
									if games[franchise].franchise.score
										div.score(class={ high: games[franchise].franchise.record.allPlay.week.losses == 0, low: games[franchise].franchise.record.allPlay.week.wins == 0 }) #{games[franchise].franchise.score.toFixed(2)}
										div.record
											+record(games[franchise].franchise.record.straight.cumulative)
										div.all-play-record
											+record(games[franchise].franchise.record.allPlay.cumulative)
										div.stern-record
											+record(games[franchise].franchise.record.stern.cumulative)
									div.opponent #{games[franchise].opponent.name}

						td.average
							div.score #{stats[year].franchises[franchise].average.toFixed(2)}
						td.stdev
							div.score #{stats[year].franchises[franchise].stdev.toFixed(2)}

				tr
					th.average Average

					each week, i in stats[year].weeks
						if i > 0
							td.average
								if week.average
									div.score #{week.average.toFixed(2)}

					td.average
						div.score #{stats[year].total.average.toFixed(2)}

					td.average

				tr
					th.stdev St. Dev.

					each week, i in stats[year].weeks
						if i > 0
							td.stdev
								if week.stdev
									div.score #{week.stdev.toFixed(2)}

					td.stdev

					td.stdev
						div.score #{stats[year].total.stdev.toFixed(2)}
