extends layout
include mixins

block title
	+title('Jaguar Chart', 'History & Results')

block og_meta
	meta(property='og:title' content=currentSeason + ' Jaguar Chart')
	meta(property='og:description' content='The race for The Jaguar among LBJ alumni')
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/jaguar.css')

block content
	div.container.py-4
		div.page-header
			h1 The Jaguar Chart
		div.page-nav.mb-4
			-
				var allSeasons = olderSeasons.slice().reverse().concat(quickSeasons)
			+sequentialNav({ items: allSeasons, current: currentSeason, quickItems: quickSeasons, jumpLabel: 'Older', urlPattern: '/jaguar/' })
		
		div.owner-grid.mb-4
			each s in standings
				- var ownerData = seasons[currentSeason].owners[s.name]
				div.card(class=s.status === 'eliminated' ? 'owner-card--eliminated' : '')
					div.card-header.d-flex.justify-content-between.align-items-center
						strong= s.name
						span.badge(class=s.status === 'eliminated' ? 'badge-danger' : 'badge-success')= s.wins + '-' + s.losses
					div.card-body.p-0
						table.table.table-sm.mb-0.owner-table
							each opponent in jaguarOwners
								if opponent !== s.name
									- var matchup = ownerData.opponents[opponent]
									- var status = matchup.summary.jagStatus
									- var game1 = matchup.games[0]
									- var game2 = matchup.games.length > 1 ? matchup.games[1] : null
									tr(class='owner-table__row--' + status)
										td.owner-table__opp= opponent
										td.owner-table__game-cell
											if game1.result === 'scheduled'
												span.owner-table__game Week #{game1.week}
											else
												span.owner-table__game(class=game1.differential > 0 ? 'owner-table__game--won' : 'owner-table__game--lost')
													| #{game1.differential > 0 ? '+' : ''}#{game1.differential.toFixed(2)}
										td.owner-table__game-cell
											if game2
												if game2.result === 'scheduled'
													span.owner-table__game Week #{game2.week}
												else
													span.owner-table__game(class=game2.differential > 0 ? 'owner-table__game--won' : 'owner-table__game--lost')
														| #{game2.differential > 0 ? '+' : ''}#{game2.differential.toFixed(2)}
										td.owner-table__total
											if status === 'won' || status === 'lost' || status === 'winning' || status === 'losing'
												| #{matchup.summary.differential > 0 ? '+' : ''}#{matchup.summary.differential.toFixed(2)}
											else
												| —
										td.owner-table__icon
											if status === 'won'
												i.fa.fa-check
											else if status === 'lost'
												i.fa.fa-times
											else if status === 'winning' || status === 'losing'
												i.fa.fa-clock-o
		
		div.row.mt-4
			div.col-lg-6
				h2.h4.mb-3
					i.fa.fa-book.mr-2
					| Rules
				ol.jaguar-rules
					li Jaguar competitors are franchises that have at least one owner who graduated from LBJ High School in Austin, Texas.
					li Jaguar matches are comprised of the one or two regular season games between Jaguar competitors.
					li The winner of The Jaguar is the competitor with the best winning percentage in Jaguar matches.
					li A tie within a Jaguar match will be resolved by total points scored in the match (i.e. whoever scores the most points in a split will be seen to have won that match).
					li If two competitors are tied on winning percentage at the end of the regular season, the tie will be broken in accordance with which tied competitor won their Jaguar match against the other tied competitor.
					li If three competitors are tied on winning percentage at the end of the regular season, the tie will be broken by total points scored in matches involved tied competitors.
					li These tiebreaker rules are subject to change if the number of Jaguar competitors ever exceeds four.
			
			div.col-lg-6
				h2.h4.mb-3
					i.fa.fa-gavel.mr-2
					| Code of Conduct
				ol.jaguar-rules
					li The Jaguar will be handed off, if necessary, at the Summer Meetings.
					li Should the new holder not be present at the Summer Meetings, The Jaguar shall be shipped to him at his own expense.
					li Should the new holder be present at the Summer Meetings but the old holder absent, The Jaguar shall be shipped to the new holder at the old holder's expense.
					li Should neither the new holder nor old holder be present at the Summer Meetings, The Jaguar shall be shipped to the new holder with both parties bearing equal expense and arrangements being made separately.
					li Basically, come to the Summer Meetings, idiots, and bring The Jaguar with you.
					li At the Summer Meetings, at reasonable and appropriate moments, the new holder may beckon a refill of beer into The Jaguar from any Jaguar competitors. These beckonings should be spread out evenly amongst the competitors.
