doctype html
html
	head
		title The Jaguar Chart for #{defaultSeason}
		link(href='/jaguar.css' rel='stylesheet' type='text/css')
		script(src='/js/jquery.min.js' type='text/javascript')
		script(type='text/javascript' src='/jaguar.js')

	body
		h1 The Jaguar Chart
		- var jaguarOwners = ['Keyon', 'Luke', 'Patrick', 'Schex'];
		each seasonData, season in seasons
			table(id='jaguar' + season border='1' class=(season != defaultSeason) ? 'hidden' : '')
				tr
					td
						select(name='season')
							each seasonData, season in seasons
								option(value=season selected=(season == defaultSeason)) #{season}

					each jaguarOwner in jaguarOwners
						th vs. #{jaguarOwner}
					th Total

				each jaguarOwner in jaguarOwners
					tr
						th #{jaguarOwner}
						each jaguarOpponent in jaguarOwners
							- var opponentCssClass = jaguarOpponent.toLowerCase();

							if jaguarOwner == jaguarOpponent
								td(class=[opponentCssClass, 'self']) --
							else
								- var matchup = seasonData.owners[jaguarOwner].opponents[jaguarOpponent];
								td(class=[opponentCssClass, matchup.summary.jagStatus])
									if matchup.summary.jagStatus == 'won' || matchup.summary.jagStatus == 'lost' 
										| #{matchup.summary.differential > 0 ? '+' : ''}#{matchup.summary.differential.toFixed(2)}
									else
										each game in matchup.games
											if game.result == 'scheduled'
												div.scheduled Week #{game.week}
											else
												| #{game.differential > 0 ? '+' : ''}#{game.differential.toFixed(2)}

						- var total = seasons[season].owners[jaguarOwner].total;
						td(class=total.jagStatus) #{total.wins}-#{total.losses}

		h2 Rules
		ol
			li Jaguar competitors are franchises that have at least one owner who graduated from LBJ High School in Austin, Texas.
			li Jaguar matches are comprised of the one or two regular season games between Jaguar competitors.
			li The winner of The Jaguar is the competitor with the best winning percentage in Jaguar matches.
			li A tie within a Jaguar match will be resolved by total points scored in the match (i.e. whoever scores the most points in a split will be seen to have won that match).
			li If two competitors are tied on winning percentage at the end of the regular season, the tie will be broken in accordance with which tied competitor won their Jaguar match against the other tied competitor.
			li If three competitors are tied on winning percentage at the end of the regular season, the tie will be broken by total points scored in matches involved tied competitors.
			li These tiebreaker rules are subject to change if the number of Jaguar competitors ever exceeds four.

		h2 Code of Conduct
		ol
			li The Jaguar will be handed off, if necessary, at the Summer Meetings.
			li Should the new holder not be present at the Summer Meetings, The Jaguar shall be shipped to him at his own expense.
			li Should the new holder be present at the Summer Meetings but the old holder absent, The Jaguar shall be shipped to the new holder at the old holder's expense.
			li Should neither the new holder nor old holder be present at the Summer Meetings, The Jaguar shall be shipped to the new holder with both parties bearing equal expense and arrangements being made separately.
			li Basically, come to the Summer Meetings, idiots, and bring The Jaguar with you.
			li At the Summer Meetings, at reasonable and appropriate moments, the new holder may beckon a refill of beer into The Jaguar from any Jaguar competitors. These beckonings should be spread out evenly amongst the competitors.
