extends layout.pug
include mixins

block title
	+title('League Overview')

block styles
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/league.css')

block content
	div.container-fluid.py-4
		h1.text-center.mb-4 League Overview
		
		div.row
			//- Calendar widget
			div.col-md-6.col-lg-4.mb-4
				div.card.calendar-widget
					div.card-header
						span
							i.fa.fa-calendar.mr-2
							| Calendar
						span.calendar-widget__phase= phaseName
					div.card-body
						if upcomingEvents && upcomingEvents.length > 0
							div.calendar-widget__timeline
								each event, idx in upcomingEvents
									if idx < 4
										div.calendar-widget__event(class=(idx === 0 ? 'calendar-widget__event--next' : ''))
											div.calendar-widget__event-inner
												span.calendar-widget__event-name= event.name
												span.calendar-widget__event-when
													span.calendar-widget__event-relative= event.relativeDate
													span.calendar-widget__event-date
														= event.shortDate
														if event.tentative
															| *
						else
							p.text-muted.mb-0 No upcoming events
					a.card-footer-link(href='/calendar')
						span View Full Calendar
						i.fa.fa-chevron-right
			
			//- Standings widget
			div.col-md-6.col-lg-4.mb-4
				if standings && standings.standings && standings.standings.length > 0
					div.card.standings-widget
						div.card-header
							i.fa.fa-list-ol.mr-2
							if standings.isPreviousSeason
								| #{standings.season} Final Standings
							else if standings.isFinal
								| #{standings.season} Final Standings
							else
								| #{standings.season} Standings
						div.card-body.p-0
							+standingsTable(standings.standings, { variant: 'widget', isFinal: standings.isFinal || standings.isPreviousSeason, showPlayoffStats: true, userTeamName: userFranchiseName })
						a.card-footer-link(href='/standings?season=' + standings.season)
							span View Full Standings
							i.fa.fa-chevron-right
			
			//- Schedule widget
			if schedule && schedule.sections && schedule.sections.length > 0
				div.col-md-6.col-lg-4.mb-4
					div.card.schedule-widget
						div.card-header
							i.fa.fa-football-o.mr-2
							= schedule.title
						div.card-body
							-
								// Sort games to put user's game first (for regular season / semifinals only)
								function sortGamesForUser(games, userName) {
									if (!userName || !games) return games;
									// Don't sort championship round games (they have type property)
									if (games.some(function(g) { return g.type === 'championship' || g.type === 'thirdPlace'; })) {
										return games;
									}
									return games.slice().sort(function(a, b) {
										var aHasUser = a.away.name === userName || a.home.name === userName;
										var bHasUser = b.away.name === userName || b.home.name === userName;
										if (aHasUser && !bHasUser) return -1;
										if (!aHasUser && bHasUser) return 1;
										return 0;
									});
								}
							each section, sectionIdx in schedule.sections
								if section.label
									div.section-label(class=(sectionIdx > 0 ? 'mt-3' : ''))= section.label
								if section.tbd
									div.tbd-text TBD
								else if section.games
									- var sortedGames = sortGamesForUser(section.games, userFranchiseName)
									each game in sortedGames
										+matchup(game)
		
		-
			var offseasonPhases = ['dead-period', 'early-offseason', 'pre-season'];
			var isOffseason = offseasonPhases.includes(phase);
			var standingsSeason = standings ? standings.season : null;
			var cardOpts = { rosterLimit: rosterLimit, isOffseason: isOffseason, standingsSeason: standingsSeason };
		div.row
			each franchise in franchises
				div.col-md-6.col-lg-4.col-xl-3.mb-4
					+franchiseCard(franchise, cardOpts)
