extends layout
include mixins

block title
	+title(displayName, 'Players')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')

block content
	div.container.py-4
		h1.mb-2= displayName
		p.text-muted.mb-4
			| There are multiple players with this name. Please select the one you're looking for:
		
		div.list-group
			each player in players
				a.list-group-item.list-group-item-action.d-flex.align-items-center(href='/players/' + player._id)
					div.mr-3
						+positionBadge(player.positions)
					div.flex-grow-1
						div.font-weight-bold= player.name
						if player.details
							div.text-muted.small= player.details
					div.text-right
						if player.status === 'Free Agent'
							span.text-muted= player.status
						else
							span= player.status
						if !player.active
							br
							span.badge.badge-secondary Inactive
