extends layout
include mixins

block title
	+title(player.name, 'Players')

block og_meta
	- var posDisplay = player.positions && player.positions.length ? player.positions.join('/') : ''
	-
		var contractText = '';
		if (contract) {
			if (contract.isRfa) {
				contractText = 'RFA rights held by ' + contract.franchiseName;
			} else {
				contractText = formatMoney(contract.salary) + ' 路 ' + formatContractYears(contract.startYear, contract.endYear) + ' 路 ' + contract.franchiseName;
			}
		} else {
			contractText = 'UFA';
		}
		var description = posDisplay ? posDisplay + ' 路 ' + contractText : contractText;
	meta(property='og:title' content=player.name)
	meta(property='og:description' content=description)
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/player.css')

block content
	- var primaryPos = player.positions && player.positions.length ? player.positions[0] : 'QB'
	
	//- Hero with position accent
	div.player-hero(class='player-hero--' + primaryPos)
		div.container
			div.player-hero__layout
				div.player-hero__badge
					+positionBadge(player.positions)
				div.player-hero__info
					h1.player-hero__name= player.name
					div.player-hero__meta
						if player.team
							span= player.team
						if player.team && player.college
							span.player-hero__sep 路
						if player.college
							span= player.college
	
	div.container.py-4
		div.row
			div.col-lg-7
				//- Current status
				div.player-status.mb-4
					if contract
						if contract.isRfa
							div.player-status__label RFA Rights
							div.player-status__value
								| Held by 
								a(href='/franchises/' + contract.franchiseRosterId)= contract.franchiseName
						else
							div.player-status__contract
								span.player-status__salary= formatMoney(contract.salary)
								span.player-status__years= formatContractYears(contract.startYear, contract.endYear)
							div.player-status__owner
								| Rostered by 
								a(href='/franchises/' + contract.franchiseRosterId)= contract.franchiseName
					else
						div.player-status__label Free Agent
						div.player-status__value.text-muted Not under contract
				
				//- Actions bar
				if (isOwner && canCut) || canTrade
					div.player-actions.mb-4
						if canTrade
							a.btn.btn-outline-primary(href='/trade-machine?player=' + player._id)
								i.fa.fa-exchange.mr-2
								| Start Trade
						if isOwner && canCut
							button.btn.btn-outline-danger(type='button' data-toggle='modal' data-target='#cutModal')
								i.fa.fa-scissors.mr-2
								| Cut Player
				
				//- Transaction history
				if timeline && timeline.length > 0
					div.player-timeline
						each item in timeline
							if item.isYearDivider
								div.player-timeline__year(class=item.empty ? 'player-timeline__year--empty' : '')= item.year
							else
								+timelineEntry(item)
				else
					p.text-muted No transaction history found.
		
		//- Cut confirmation modal
		if isOwner && canCut && contract
			div.modal.fade#cutModal(tabindex='-1' role='dialog')
				div.modal-dialog(role='document')
					form.modal-content(method='POST' action='/franchises/' + contract.franchiseRosterId + '/cut')
						div.modal-header
							h5.modal-title Cut Player
							button.close(type='button' data-dismiss='modal')
								span &times;
						div.modal-body
							input(type='hidden' name='playerId' value=player._id)
							input(type='hidden' name='playerName' value=player.name)
							p Are you sure you want to cut <strong>#{player.name}</strong>?
							if contract.buyout !== null
								table.table.table-sm.mb-0
									tbody
										tr
											td Salary
											td.text-right= formatMoney(contract.salary)
										tr
											td Buyout
											td.text-right= formatMoney(contract.buyout)
										tr.font-weight-bold
											td Recoverable
											td.text-right= formatMoney(contract.recoverable)
						div.modal-footer
							button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
							button.btn.btn-danger(type='submit') Cut Player
