extends layout
include mixins

block title
	+title(player.name, 'Players')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/player.css')

block content
	- var primaryPos = player.positions && player.positions.length ? player.positions[0] : 'QB'
	
	//- Hero with position accent
	div.player-hero(class='player-hero--' + primaryPos)
		div.container
			div.player-hero__layout
				div.player-hero__badge
					+positionBadge(player.positions)
				div.player-hero__info
					h1.player-hero__name= player.name
					div.player-hero__meta
						if player.team
							span= player.team
						if player.team && player.college
							span.player-hero__sep 路
						if player.college
							span= player.college
	
	div.container.py-4
		div.row
			div.col-lg-7
				//- Current status
				div.player-status.mb-4
					if contract
						if contract.isRfa
							div.player-status__label RFA Rights
							div.player-status__value
								| Held by 
								a(href='/franchises/' + contract.franchiseRosterId)= contract.franchiseName
						else
							div.player-status__contract
								span.player-status__salary= formatMoney(contract.salary)
								span.player-status__years= formatContractYears(contract.startYear, contract.endYear)
							div.player-status__owner
								| Rostered by 
								a(href='/franchises/' + contract.franchiseRosterId)= contract.franchiseName
					else
						div.player-status__label Free Agent
						div.player-status__value.text-muted Not under contract
				
				//- Actions bar
				if (isOwner && canCut) || canTrade
					div.player-actions.mb-4
						if canTrade
							a.btn.btn-outline-primary(href='/trade-machine?player=' + player._id)
								i.fa.fa-exchange.mr-2
								| Start Trade
						if isOwner && canCut
							button.btn.btn-outline-danger(type='button' data-toggle='modal' data-target='#cutModal')
								i.fa.fa-scissors.mr-2
								| Cut Player
				
				//- Transaction history
				if history.length > 0
					h5.text-muted.mb-3 Transaction History
					div.player-timeline
						each entry in history
							- var iconClass = { trade: 'fa-exchange', 'fa-pickup': 'fa-plus', 'fa-cut': 'fa-scissors', 'draft-select': 'fa-graduation-cap', 'auction-ufa': 'fa-gavel', 'auction-rfa-matched': 'fa-gavel', 'auction-rfa-unmatched': 'fa-gavel', contract: 'fa-file-text-o' }[entry.type] || 'fa-circle'
							div.player-timeline__entry
								div.player-timeline__icon
									i.fa(class=iconClass)
								div.player-timeline__content
									div.player-timeline__main
									if entry.type === 'trade' && entry.tradeId
										a(href='/trades/' + entry.tradeId)= entry.description
									else if entry.type === 'draft-select' && entry.draftSeason
										a(href='/draft/' + entry.draftSeason)= entry.description
									else if entry.type === 'fa-cut'
										span= entry.description
										if entry.facilitatedTradeId
											|  for 
											a(href='/trades/' + entry.facilitatedTradeId) Trade ##{entry.facilitatedTradeId}
										if entry.salary
											br
											span.player-timeline__salary
												= formatMoney(entry.salary)
												if entry.endYear
													|  路 #{formatContractYears(entry.startYear, entry.endYear)}
											if entry.buyOuts && entry.buyOuts.length > 0
												span.text-muted.ml-2.small
													| (buyout: 
													each bo, idx in entry.buyOuts
														if idx > 0
															| , 
														| #{formatMoney(bo.amount)} in #{bo.season}
													| )
									else if entry.type === 'fa-pickup'
										span= entry.description
										if entry.salary
											br
											span.player-timeline__salary
												= formatMoney(entry.salary)
												if entry.endYear
													|  路 #{formatContractYears(entry.startYear, entry.endYear)}
									else if entry.type === 'auction-ufa' || entry.type === 'auction-rfa-matched' || entry.type === 'auction-rfa-unmatched'
										span= entry.description
										if entry.salary
											br
											span.player-timeline__salary= formatMoney(entry.salary)
									else if entry.type === 'contract'
										span= entry.description
										if entry.salary && entry.startYear && entry.endYear
											br
											span.player-timeline__salary
												= formatMoney(entry.salary)
												|  路 #{formatContractYears(entry.startYear, entry.endYear)}
									else
										span= entry.description
										if entry.salary
											span.player-timeline__salary= formatMoney(entry.salary)
									div.player-timeline__date= formatDateMedium(entry.timestamp)
				else
					p.text-muted No transaction history found.
		
		//- Cut confirmation modal
		if isOwner && canCut && contract
			div.modal.fade#cutModal(tabindex='-1' role='dialog')
				div.modal-dialog(role='document')
					form.modal-content(method='POST' action='/franchises/' + contract.franchiseRosterId + '/cut')
						div.modal-header
							h5.modal-title Cut Player
							button.close(type='button' data-dismiss='modal')
								span &times;
						div.modal-body
							input(type='hidden' name='playerId' value=player._id)
							input(type='hidden' name='playerName' value=player.name)
							p Are you sure you want to cut <strong>#{player.name}</strong>?
							if contract.buyout !== null
								table.table.table-sm.mb-0
									tbody
										tr
											td Salary
											td.text-right= formatMoney(contract.salary)
										tr
											td Buyout
											td.text-right= formatMoney(contract.buyout)
										tr.font-weight-bold
											td Recoverable
											td.text-right= formatMoney(contract.recoverable)
						div.modal-footer
							button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
							button.btn.btn-danger(type='submit') Cut Player
