extends layout
include mixins

block title
	+title(player.name, 'Players')

block og_meta
	- var posDisplay = player.positions && player.positions.length ? player.positions.join('/') : ''
	-
		var contractText = '';
		if (contract) {
			if (contract.isRfa) {
				contractText = 'RFA rights held by ' + contract.franchiseName;
			} else {
				contractText = formatMoney(contract.salary) + ' · ' + formatContractYears(contract.startYear, contract.endYear) + ' · ' + contract.franchiseName;
			}
		} else {
			contractText = 'UFA';
		}
		var description = posDisplay ? posDisplay + ' · ' + contractText : contractText;
	meta(property='og:title' content=player.name)
	meta(property='og:description' content=description)
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/player.css')

block content
	- var primaryPos = player.positions && player.positions.length ? player.positions[0] : 'QB'
	
	//- Hero with position accent
	div.player-hero(class='player-hero--' + primaryPos)
		div.container
			div.player-hero__identity
				div.player-hero__name-row
					h1.player-hero__name
						a(href='/players/' + player._id)= player.name
					span.player-hero__badge
						+positionBadge(player.positions)
				div.player-hero__meta
					if contract
						a.player-hero__franchise(href='/franchises/' + contract.franchiseRosterId)= contract.franchiseName
						if contract.isRfa
							span.player-hero__sep ·
							span RFA rights
						else
							span.player-hero__sep ·
							span.player-hero__contract
								span= formatMoney(contract.salary)
								span.player-hero__contract-sep  · 
								span= formatContractYears(contract.startYear, contract.endYear)
					else
						span.player-hero__ufa Free Agent
					if showDropButton || canTrade
						div.player-hero__actions
							if canTrade
								a.btn.btn-sm.btn-outline-primary(href='/trade-machine?player=' + player._id)
									i.fa.fa-exchange.mr-1
									| Trade
							if showDropButton && !contract.isRfa
								button.btn.btn-sm.btn-outline-danger(type='button' data-toggle='modal' data-target='#dropModal')
									i.fa.fa-scissors.mr-1
									| Drop
	
	div.container.py-4
		div.row
			div.col-lg-8
				//- Transaction history
				if timeline && timeline.length > 0
					div.player-timeline
						each item in timeline
							if item.isYearDivider
								div.player-timeline__year(class=item.empty ? 'player-timeline__year--empty' : '')= item.year
							else
								+timelineEntry(item)
				else
					p.text-muted No transaction history found.
		
		//- Drop confirmation modal
		if showDropButton && contract
			div.modal.fade#dropModal(tabindex='-1' role='dialog')
				div.modal-dialog(role='document')
					form.modal-content(method='POST' action='/franchises/' + contract.franchiseRosterId + '/cut')
						div.modal-header
							h5.modal-title Drop Player
							button.close(type='button' data-dismiss='modal')
								span &times;
						div.modal-body
							input(type='hidden' name='playerId' value=player._id)
							input(type='hidden' name='playerName' value=player.name)
							p Are you sure you want to cut <strong>#{player.name}</strong>?
							if contract.buyout !== null
								table.table.table-sm.mb-0
									tbody
										tr
											td Salary
											td.text-right= formatMoney(contract.salary)
										tr
											td Buyout
											td.text-right= formatMoney(contract.buyout)
										tr.font-weight-bold
											td Recoverable
											td.text-right= formatMoney(contract.recoverable)
						div.modal-footer
							button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
							button.btn.btn-danger(type='submit') Drop Player
