doctype html
html
	head
		title Rookie Salaries for #{season}
		link(href='/rookies.css' rel='stylesheet' type='text/css')
		script(src='/js/jquery.min.js' type='text/javascript')
		script(type='text/javascript')
			| var currentSeason = #{season}
		script(src='/rookies.js' type='text/javascript')

	body
		h1
			| Rookie Salaries for
			|
			select(name='season')
				each salarySeason in seasons
					option(value=salarySeason selected=(season == salarySeason)) #{salarySeason}

		each salarySeason in seasons
			- var positionSalaries = salaries[salarySeason]
			table(id='rookies' + salarySeason, class=(season != salarySeason) ? 'hidden' : '')
				tr
					th Round
					each position in positionOrder
						th #{position}

				each round in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					tr(class='round' + (round % 2))
						td #{round}

						each position in positionOrder
							td $#{computeSalary(parseInt(salarySeason), positionSalaries[position], round)}
