extends layout.pug
include mixins

block title
	+title(season + ' Rookie Salaries')

block og_meta
	meta(property='og:title' content=season + ' Rookie Salaries')
	meta(property='og:description' content='Salary scale by position and draft round')
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/positions.css')
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/rookies.css')

block content
	div.container-fluid.py-3
		div.rookies__header
			h1 #{season} Rookie Salaries
			-
				var allSeasons = olderSeasons.slice().reverse().concat(quickSeasons)
			+sequentialNav({ items: allSeasons, current: season, quickItems: quickSeasons, jumpLabel: 'Older', urlPattern: '/rookies/' })

		- var positionSalaries = salaries[season]
		table.table.table-bordered.rookies-table
			thead
				tr
					th.rookies-table__round Round
					each position in POSITION_ORDER
						th(class='pos-' + position) #{position}
			tbody
				each round in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
					tr(class=(round % 2 === 0 ? 'rookies-table__row--even' : 'rookies-table__row--odd'))
						td.rookies-table__round #{round}
						each position in POSITION_ORDER
							td(class='pos-' + position) #{formatMoney(computeSalary(parseInt(season), positionSalaries[position], round))}

block scripts
	script.
		// Navigation is handled via URL - no client-side switching needed
