extends layout.pug
include mixins

block title
	if schedule
		+title(schedule.weekLabel, season + ' Schedule')
	else
		+title('Schedule')

block styles
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/standings.css')
	link(rel='stylesheet' href='/css/schedule.css')

block content
	div.container-fluid.py-4
		div.schedule__header
			h1 #{season} Schedule
		
		//- Season and week navigation
		.schedule__nav.mb-4
			select.schedule__nav-select(onchange='if(this.value) window.location.href="/schedule/"+this.value')
				each s in olderSeasons.concat(quickSeasons).sort(function(a, b) { return b - a; })
					option(value=s selected=(s === season))= s
			if weeks && weeks.length > 0
				select.schedule__nav-select.schedule__nav-select--active(onchange='if(this.value) window.location.href="/schedule/' + season + '/"+this.value')
					each w in weeks
						option(value=w.week selected=(w.week === week))= w.label
		
		if !schedule || !schedule.games || schedule.games.length === 0
			div.alert.alert-info No games found for this week.
		else
			div.row
				div.col-lg-5.col-xl-3
					//- Games list
					div.schedule__games
						-
							// Sort games: user's game first (regular season only), then keep original order
							var sortedGames = schedule.games.slice();
							if (!schedule.isPlayoffs && userFranchiseIds && userFranchiseIds.length > 0) {
								sortedGames.sort(function(a, b) {
									var aIsUser = userFranchiseIds.includes(a.away.franchiseId) || userFranchiseIds.includes(a.home.franchiseId);
									var bIsUser = userFranchiseIds.includes(b.away.franchiseId) || userFranchiseIds.includes(b.home.franchiseId);
									if (aIsUser && !bIsUser) return -1;
									if (!aIsUser && bIsUser) return 1;
									return 0;
								});
							}
						each game in sortedGames
							+matchup(game, { label: game.label })
				
				//- Stats and Standings
				if standingsData && standingsData.standings && standingsData.standings.length > 0
					div.col-lg-7.col-xl-6
						//- Weekly stats summary
						if schedule.stats
							div.card.mb-3
								div.card-header #{schedule.weekLabel} Summary
								div.card-body
									div.row
										div.col-6.col-md-3.mb-2.mb-md-0
											div.schedule__stat
												div.schedule__stat-label High
												div.schedule__stat-value= formatPoints(schedule.stats.highScore.score)
												div.schedule__stat-team= schedule.stats.highScore.name
										div.col-6.col-md-3.mb-2.mb-md-0
											div.schedule__stat
												div.schedule__stat-label Low
												div.schedule__stat-value= formatPoints(schedule.stats.lowScore.score)
												div.schedule__stat-team= schedule.stats.lowScore.name
										div.col-6.col-md-3
											div.schedule__stat
												div.schedule__stat-label Average
												div.schedule__stat-value= formatPoints(schedule.stats.average)
										div.col-6.col-md-3
											div.schedule__stat
												div.schedule__stat-label Std Dev
												div.schedule__stat-value= formatPoints(schedule.stats.stdDev)
						
						div.card
							div.card-header
								| Standings 
								if schedule.hasScores
									| after #{schedule.weekLabel}
								else
									| entering #{schedule.weekLabel}
							div.card-body.p-0
								+standingsTable(standingsData.standings, { variant: 'sidebar', userTeamIds: userFranchiseIds, linkSeason: season })
						
						//- Division standings (for division era)
						if standingsData.hasDivisions && standingsData.divisionStandings
							div.card.mt-3
								div.card-header
									i.fa.fa-columns.mr-2
									| Division Standings
								div.card-body
									div.row
										each div in standingsData.divisionStandings
											div.col-md-6.mb-3.mb-md-0
												h6.standings__division-title= div.name
												+standingsTable(div.teams, { variant: 'mini', showCutoff: false, linkSeason: season })
				
				//- Final standings for playoffs view
				else if finalStandingsData && finalStandingsData.standings && finalStandingsData.standings.length > 0
					div.col-lg-7.col-xl-6
						div.card
							div.card-header
								| Final Standings
							div.card-body.p-0
								+standingsTable(finalStandingsData.standings, { variant: 'sidebar', isFinal: finalStandingsData.isFinal, showMedals: true, showPlayoffStats: true, userTeamIds: userFranchiseIds, linkSeason: season })
						
						//- Division standings (for division era)
						if finalStandingsData.hasDivisions && finalStandingsData.divisionStandings
							div.card.mt-3
								div.card-header
									i.fa.fa-columns.mr-2
									| Division Standings
								div.card-body
									div.row
										each div in finalStandingsData.divisionStandings
											div.col-md-6.mb-3.mb-md-0
												h6.standings__division-title= div.name
												+standingsTable(div.teams, { variant: 'mini', showCutoff: false, linkSeason: season })
