include mixins

if results.length === 0
	div.search-no-results No players found
else
	each result in results
		if result.status === 'rostered'
			//- Rostered player - link to franchise
			a.search-result(href='/franchise/' + result.franchiseId)
				div.search-result-main
					span.search-result-name= result.name
					+positionBadge(result.positions)
				div.search-result-meta
					span.search-result-franchise= result.franchiseName
					if result.salary
						span.search-result-contract  · #{formatMoney(result.salary)} · #{result.contract}
		else if result.status === 'rfa'
			//- RFA - link to franchise that owns rights
			a.search-result.search-result-rfa(href='/franchise/' + result.franchiseId)
				div.search-result-main
					span.search-result-name= result.name
					+positionBadge(result.positions)
				div.search-result-meta
					span.search-result-franchise= result.franchiseName
					span.search-result-contract  · RFA
		else
			//- Unrestricted free agent - no link
			div.search-result.search-result-ufa
				div.search-result-main
					span.search-result-name= result.name
					+positionBadge(result.positions)
				div.search-result-meta
					span.search-result-franchise UFA
