include mixins

if players.length === 0 && trades.length === 0
	div.search-no-results No results found
else
	//- Player results
	if players.length > 0
		each result in players
			if result.status === 'rostered'
				//- Rostered player - link to player page
				a.search-result(href='/players/' + result.slug)
					div.search-result-main
						span.search-result-name= result.name
						+positionBadge(result.positions)
					div.search-result-meta
						span.search-result-franchise= result.franchiseName
						if result.contractDisplay
							span.search-result-contract  · #{result.contractDisplay}
			else if result.status === 'rfa'
				//- RFA - link to player page
				a.search-result.search-result-rfa(href='/players/' + result.slug)
					div.search-result-main
						span.search-result-name= result.name
						+positionBadge(result.positions)
					div.search-result-meta
						span.search-result-franchise= result.franchiseName
						span.search-result-contract  · RFA
			else
				//- Unrestricted free agent - link to player page
				a.search-result.search-result-ufa(href='/players/' + result.slug)
					div.search-result-main
						span.search-result-name= result.name
						+positionBadge(result.positions)
					div.search-result-meta
						span.search-result-contract UFA
		//- Truncation row for extra players
		if extraPlayersCount > 0
			div.search-result-more #{extraPlayersCount} more

	//- Trade results
	if trades.length > 0
		if players.length > 0
			div.search-section-divider Trades
		each trade in trades
			a.search-result.search-result-trade(href=trade.url)
				div.search-result-trade-header
					span.search-result-name Trade ##{trade.tradeNumber}
					span.search-result-date= trade.dateStr
				if trade.matchedPlayerName || trade.otherAssets
					//- Full names on larger screens
					div.search-result-assets.search-assets-full
						if trade.matchedPlayerName
							strong= trade.matchedPlayerName
							if trade.otherAssets
								| , #{trade.otherAssets}
						else
							| #{trade.otherAssets}
					//- Abbreviated names on smaller screens
					div.search-result-assets.search-assets-short
						if trade.matchedPlayerShort
							strong= trade.matchedPlayerShort
							if trade.otherAssetsShort
								| , #{trade.otherAssetsShort}
						else
							| #{trade.otherAssetsShort}
		//- Truncation row for extra trades (quick links)
		if extraTrades && extraTrades.length > 0
			div.search-result-more
				each extra, i in extraTrades
					a.search-more-link(href=extra.url) ##{extra.tradeNumber}
					if i < extraTrades.length - 1
						| , 
