table.table.table-hover.table-sm
	tr
		th.text-center(colspan=8) #{options.trials.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ',')} Simulations

	tr
		th Owner
		th.text-right Playoffs
		th.text-right The Decision
		th.d-none.d-sm-table-cell.text-right First Pick
		th.text-right Finishes
		th.d-none.d-md-table-cell.text-right 8-6 and Out
		th.d-none.d-md-table-cell.text-right 9-5 and Out
		th.d-none.d-lg-table-cell.text-right 10-4 and Out

	each result in results
		tr
			td #{result.owner.name}
				|
				|
				span.d-none.d-md-inline (#{result.owner.wins}-#{result.owner.losses})
			td.text-right #{result.playoffs.toFixed(3)}
			td.text-right #{result.decision.toFixed(3)}
			td.d-none.d-sm-table-cell.text-right #{result.firstPick.toFixed(3)}
			td.text-right
				-
					var finishTable = '';

					for (var n = 1; n <= 12; n++) {
						var probability = result.owner.finishes[n] / options.trials;
						var probabilityClass = '';

						if (result.owner.finishes[n] == 0) {
							probabilityClass = 'never';
						}
						else if (probability < 0.15) {
							probabilityClass = 'rare';
						}
						else if (probability < 0.40) {
							probabilityClass = 'unlikely';
						}
						else if (probability < 0.60) {
							probabilityClass = 'coinflippy';
						}
						else if (probability < 0.85) {
							probabilityClass = 'likely';
						}
						else if (probability < 1) {
							probabilityClass = 'common';
						}
						else {
							probabilityClass = 'always';
						}

						if (n == 1) {
							finishTable += '<div class="text-nowrap text-left">';
						}

						finishTable += '<div class="' + probabilityClass + '">';

						switch (n) {
							case 1: finishTable += '1st'; break;
							case 2: finishTable += '2nd'; break;
							case 3: finishTable += '3rd'; break;
							default: finishTable += n + 'th'; break;
						}

						if (result.owner.finishes[n] == 0) {
							finishTable += ' --';
						}
						else if (Math.round(probability * 100) < 1) {
							finishTable += ' (<1%)';
						}
						else {
							finishTable += ' (' + Math.round(probability * 100) + '%)';
						}

						finishTable += '</div>';

						if (n == 12) {
							finishTable += '</div>';
						}
					}
				span.finishes(data-toggle='tooltip' data-placement='right' data-html='true' title=finishTable) #{result.finishesString}
			td.d-none.d-md-table-cell.text-right
				if result.eightAndOut != '--'
					| #{result.eightAndOut.toFixed(3)}
				else
					| --
			td.d-none.d-md-table-cell.text-right
				if result.nineAndOut != '--'
					| #{result.nineAndOut.toFixed(3)}
				else
					| --
			td.d-none.d-lg-table-cell.text-right
				if result.tenAndOut != '--'
					| #{result.tenAndOut.toFixed(3)}
				else
					| --
