extends layout.pug
include mixins

block title
	+title(season + ' Standings')

block og_meta
	- var description = standings && standings.isFinal ? 'Final standings for the ' + season + ' season' : 'Current standings for the ' + season + ' season'
	meta(property='og:title' content=season + ' Standings')
	meta(property='og:description' content=description)
	meta(property='og:image' content='https://thedynastyleague.com/images/og/the-gang-slop-og.jpg')

block styles
	link(rel='stylesheet' href='/css/components.css')
	link(rel='stylesheet' href='/css/standings.css')

block content
	div.container.py-4
		div.page-header
			h1 #{season} Standings
		div.page-nav.mb-4
			-
				var allSeasons = olderSeasons.slice().reverse().concat(quickSeasons)
			+sequentialNav({ items: allSeasons, current: season, quickItems: quickSeasons, jumpLabel: 'Past Seasons', urlPattern: '/standings/' })
		
		if !standings || !standings.standings || standings.standings.length === 0
			div.alert.alert-info No standings data available for #{season}
		else
			div.row
				div.col-lg-10.col-xl-8
					if standings.isPreviousSeason
						+alertBanner('info', 'fa-info-circle', 'Showing ' + season + ' final standings. The ' + (season + 1) + ' season has not yet begun.').mb-4
					
					//- Division era notice
					if standings.hasDivisions
						+alertBanner('secondary', 'fa-columns').mb-4
							| This season used divisions: 
							each div, idx in standings.divisions
								if idx > 0
									|  and 
								strong= div.name
							| . Division winners received automatic playoff berths.
					
					
					//- Main standings table
					div.card
						div.card-body.p-0
							+standingsTable(standings.standings, { variant: 'full', isFinal: standings.isFinal, showMedals: true, showPlayoffStats: true, userTeamIds: userFranchiseIds, linkSeason: season })
					
					//- Playoff games (if playoffs have started)
					if standings.playoffGames && standings.playoffGames.length > 0
						div.card.mt-4
							div.card-header
								i.fa.fa-trophy.mr-2
								| Playoff Results
							div.card-body
								div.row
									each game, idx in standings.playoffGames
										-
											// Add separator before championship round (after semifinals)
											var isChampRound = game.type === 'championship' || game.type === 'thirdPlace';
											var prevGame = idx > 0 ? standings.playoffGames[idx - 1] : null;
											var showSeparator = isChampRound && prevGame && prevGame.type === 'semifinal';
										if showSeparator
											div.col-12
												hr.standings__playoff-separator
										div.col-sm-6.mb-3.mb-sm-2
											+matchup(game, { label: game.label })
					
					//- Division standings (for division era)
					if standings.hasDivisions && standings.divisions
						div.card.mt-4
							div.card-header
								i.fa.fa-columns.mr-2
								| Division Standings
							div.card-body
								div.row
									each div in standings.divisions
										div.col-md-6.mb-3.mb-md-0
											h6.standings__division-title= div.name
											-
												// Use pre-computed division order from service (has proper tiebreaker applied)
												var divOrder = standings.divisionStandings[div.name] || [];
												var divTeams = standings.standings.filter(function(t) { return t.division === div.name; });
												divTeams.sort(function(a, b) {
													return divOrder.indexOf(a.franchiseId) - divOrder.indexOf(b.franchiseId);
												});
											+standingsTable(divTeams, { variant: 'mini', showCutoff: false, linkSeason: season })
					
					//- Legend/info
					div.standings__legend.mt-4
						p.text-muted.small.mb-1
							| Tiebreaker: #{standings.tiebreakerStrategy.name}. 
							= standings.tiebreakerStrategy.description
						if standings.hasDivisions
							p.text-muted.small.mb-0
								| Division winners received automatic playoff berths; remaining spots went to wild cards.
