doctype html
html
	head
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='../trade.css')
		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });
		script(src='../trade.js')

		title Trade Machine

	body
		div.container.d-none
			select.master-player-list
				each franchise, i in franchises
					optgroup(id="players-franchise-" + i label="From " + franchise)
						each player in teams[franchise]
							option(value=player.name data-player-id=player.id) #{player.name} ($#{player.salary}, #{player.contract})

		div.container
			h1.text-center Trade Machine

		div.container
			h4 Who's Involved?

			each franchise, i in franchises
				div.form-check.form-check-inline.col-4
					input.form-check-input(type="checkbox" id="franchise-" + i value="franchise-" + i)
					label.form-check-label(for="franchise-" + i) #{franchise}

		div.container
			each franchise, i in franchises
				div.gets.col-12.d-none(id="gets-franchise-" + i)
					h4 #{franchise} gets:
					select.franchise-player-list(id="select-franchise-" + i)
