extends layout

mixin pickRound(round)
	if round == 1
		| 1st
	else if round == 2
		| 2nd
	else if round == 3
		| 3rd
	else
		| #{round}th

block styles
	link(rel='stylesheet' href='/trade.css')

block content
	//- Hidden master lists for JavaScript to clone from
	div.d-none
		select.master-player-list
			each franchise in franchises
				optgroup(class="players-" + franchise._id label="From " + franchise.displayName)
					each player in teams[franchise._id.toString()]
						option(value=player.id data-name=player.name data-terms=player.terms data-salary=player.salary data-contract=player.contract data-recoverable=player.recoverable)
							| #{player.name}
							|  
							if player.terms == 'unsigned'
								| ($#{player.salary}, unsigned)
							else if player.terms == 'rfa-rights'
								| (RFA rights)
							else
								| ($#{player.salary}, #{player.contract})

		select.master-pick-list
			-
				function formatPickNum(pickNumber, round, season) {
					if (!pickNumber) return null;
					var teamsPerRound = (season <= 2011) ? 10 : 12;
					var pickInRound = ((pickNumber - 1) % teamsPerRound) + 1;
					return round + '.' + String(pickInRound).padStart(2, '0');
				}
			each franchise in franchises
				optgroup(class="picks-" + franchise._id label=franchise.displayName + "'s Picks")
					each pick in picks
						if pick.ownerId == franchise._id.toString()
							- var pickNumDisplay = formatPickNum(pick.pickNumber, pick.round, pick.season)
							option(value=pick.id data-season=pick.season data-round=pick.round data-picknumber=(pick.pickNumber || '') data-owner=pick.owner data-origin=pick.origin)
								if pickNumDisplay
									| Pick #{pickNumDisplay} in #{pick.season} (#{pick.origin})
								else
									+pickRound(pick.round)
									|  round pick in #{pick.season} (#{pick.origin})

		select.master-franchise-list
			each franchise in franchises
				option(class="franchises-" + franchise._id value=franchise._id data-name=franchise.displayName) #{franchise.displayName}

	div.container.py-4
		h1.mb-4 Trade Machine

		div.row
			//- Franchise Selection Card (narrower on large screens)
			div.col-lg-4.col-xl-3.mb-4
				div.card
					div.card-header
						strong Select Parties
					div.card-body
						div.franchise-list
							each franchise in franchises
								div.form-check.mb-1
									input.form-check-input(type="checkbox" id="check-" + franchise._id value=franchise._id)
									label.form-check-label(for="check-" + franchise._id)= franchise.displayName
						div.mt-3
							button.reset-trade-machine.btn.btn-outline-secondary.btn-sm.btn-block
								i.fa.fa-refresh.mr-1
								| Reset

				//- Budget Impact Card
				div.card.d-none.mt-4.mb-4.budget-impact-card
					div.card-header
						strong Budget Impact
					div.card-body
						div.budget-impact.mb-3
						button.cash-neutral-btn.btn.btn-outline-success.btn-sm.btn-block
							i.fa.fa-balance-scale.mr-1
							span.btn-text Make Cash-Neutral

			//- Trade Builder Section
			div.col-lg-8.col-xl-9
				div.card.trade-details-card.d-none
					div.card-header
						strong Trade Details
					div.card-body
						each franchise in franchises
							div.gets.d-none(id="gets-" + franchise._id)
								//- Party Header
								div.party-header.mb-2
									span.party-name
										strong= franchise.displayName
										|  receive#{isPlural(franchise.displayName) ? '' : 's'}:
								div.party-warnings.mb-2

								div.row
									//- Input Form (left on large screens)
									div.col-xl-6
										//- Add Player
										div.input-group.input-group-sm.mb-2
											div.input-group-prepend
												span.input-group-text.player-icon
													i.fa.fa-user
											select.player-list.form-control
											div.input-group-append
												button.add-player.btn.btn-primary(type="button")
													i.fa.fa-plus

										//- Add Pick
										div.input-group.input-group-sm.mb-2
											div.input-group-prepend
												span.input-group-text.pick-icon
													i.fa.fa-ticket
											select.pick-list.form-control
											div.input-group-append
												button.add-pick.btn.btn-primary(type="button")
													i.fa.fa-plus

										//- Add Cash
										div.input-group.input-group-sm.mb-3.mb-xl-0
											div.input-group-prepend
												span.input-group-text.cash-icon $
											input.amount.form-control(type="number" placeholder="Amount")
											select.franchise-list.form-control
											select.season-list.form-control
												option #{parseInt(season)}
												option #{parseInt(season) + 1}
												option #{parseInt(season) + 2}
											div.input-group-append
												button.add-cash.btn.btn-primary(type="button")
													i.fa.fa-plus

									//- Assets List (right on large screens)
									div.col-xl-6
										div.assets-container
											ul.assets.list-unstyled.mb-0
												li.text-muted.empty-state
													i.fa.fa-inbox.mr-2
													| Nothing yet

								hr.party-separator

block scripts
	script.
		var currentSeason = #{season};
		var isBeforeCutDay = #{isBeforeCutDay ? 'true' : 'false'};
		var rosterLimit = #{rosterLimit};
		var franchiseData = {};
		!{franchises.map(function(f) { return "franchiseData['" + f._id + "'] = { rosterCount: " + f.rosterCount + ", available: " + f.available + ", recoverable: " + f.recoverable + " };"; }).join('\n\t\t')}
	script(src='/trade.js')
