mixin displayContract(contract, season)
	if contract == 'TBA'
		| unsigned
	else if new Date().getFullYear() != season && contract.split('/')[1] == season.toString().substring(2)
		| RFA rights
	else
		| #{contract}

mixin pickRound(round)
	if round == 1
		| 1st
	else if round == 2
		| 2nd
	else if round == 3
		| 3rd
	else
		| #{round}th

doctype html
html
	head
		link(rel='stylesheet' href='/css/bootstrap.min.css')
		link(rel='stylesheet' href='../trade.css')
		script(src='/js/jquery.min.js')
		script(src='/js/umd/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script
			| $(function() { $('[data-toggle="tooltip"]').tooltip(); });
		script(src='../trade.js')

		title Trade Machine

	body
		div.container
			select.master-player-list.d-none
				each franchise, i in franchises
					optgroup(id="players-franchise-" + i label="From " + franchise)
						each player in teams[franchise]
							option(value=player.name data-player-id=player.id)
								| #{player.name}
								|
								|
								| ($#{player.salary},
								|
								|
								+displayContract(player.contract, season)
								| )

			select.master-picks-list.d-none
				each franchise, i in franchises
					optgroup(id="picks-franchise-" + i label="From " + franchise)
						each pick in picks
							if pick.owner == franchise
								option
									+pickRound(pick.round)
									|
									|
									| round draft pick from #{pick.origin}

			select.master-franchise-list.d-none
				each franchise, i in franchises
					option(id="franchise-franchise-" + i value=franchise) #{franchise}

		div.container
			h1.text-center Trade Machine

		div.container
			h4 Who's Involved?

			each franchise, i in franchises
				div.form-check.form-check-inline.col-4
					input.form-check-input(type="checkbox" id="franchise-" + i value="franchise-" + i)
					label.form-check-label(for="franchise-" + i) #{franchise}

		div.container
			each franchise, i in franchises
				div.gets.col-12.d-none(id="gets-franchise-" + i)
					h4 #{franchise} get#{franchise.includes('/') ? '' : 's'}:

					div.input-group.input-group-sm
						select.form-control.player-list(id="player-list-franchise-" + i)
						button.add-player.btn.btn-sm.btn-primary(id="add-player-franchise-" + i) Add Player

					div.input-group.input-group-sm
						select.form-control.picks-list(id="picks-list-franchise-" + i)
						button.add-player.btn.btn-sm.btn-primary(id="add-pick-franchise-" + i) Add Pick

					div.input-group.input-group-sm
						div.input-group-prepend
							span.input-group-text $
						input.form-control(type="text" size="4")
						| from
						select.form-control.franchise-list(id="franchise-list-franchise-" + i)
						| in
						select.form-control
							option #{parseInt(season)}
							option #{parseInt(season) + 1}
							option #{parseInt(season) + 2}
						button.add-player.btn.btn-sm.btn-primary(id="add-cash-franchise-" + i) Add Cash
