extends layout

mixin pickRound(round)
	if round == 1
		| 1st
	else if round == 2
		| 2nd
	else if round == 3
		| 3rd
	else
		| #{round}th

block styles
	link(rel='stylesheet' href='/trade.css')

block content
	//- Hidden master lists for JavaScript to clone from
	div.container.d-none
		select.master-player-list
			each franchise in franchises
				optgroup(class="players-" + franchise._id label="From " + franchise.displayName)
					each player in teams[franchise._id.toString()]
						option(value=player.id data-name=player.name data-terms=player.terms data-salary=player.salary data-contract=player.contract)
							| #{player.name}
							|  
							if player.terms == 'unsigned'
								| ($#{player.salary}, unsigned)
							else if player.terms == 'rfa-rights'
								| (RFA rights)
							else
								| ($#{player.salary}, #{player.contract})

		select.master-pick-list
			each franchise in franchises
				optgroup(class="picks-" + franchise._id label=franchise.displayName + "'s Picks")
					each pick in picks
						if pick.ownerId == franchise._id.toString()
							option(value=pick.id data-season=pick.season data-round=pick.round data-owner=pick.owner data-origin=pick.origin)
								+pickRound(pick.round)
								|  round draft pick from #{pick.origin} in #{pick.season}

		select.master-franchise-list
			each franchise in franchises
				option(class="franchises-" + franchise._id value=franchise._id data-name=franchise.displayName) #{franchise.displayName}

	div.container
		h1.text-center.my-3 Trade Machine

	div.container
		h5 Who's Involved?

		div.row
			each franchise in franchises
				div.form-check.form-check-inline.col-4
					input.form-check-input(type="checkbox" id="check-" + franchise._id value=franchise._id)
					label.form-check-label(for="check-" + franchise._id) #{franchise.displayName}

	div.container
		div.text-center.col-12.py-2
			button.reset-trade-machine.btn.btn-warning Reset Trade Machine

	div.container
		each franchise in franchises
			div.gets.col-12.p-4.my-4.d-none(id="gets-" + franchise._id)
				h5
					strong #{franchise.displayName}
					|  get#{isPlural(franchise.displayName) ? '' : 's'}:

				div.input-group.input-group-sm.my-1
					select.player-list.form-control
					button.add-player.btn.btn-sm.btn-primary.ml-1 +

				div.input-group.input-group-sm.my-1
					select.pick-list.form-control
					button.add-pick.btn.btn-sm.btn-primary.ml-1 +

				div.input-group.input-group-sm.my-1
					div.input-group-prepend
						span.input-group-text $
					input.amount.form-control(type="text" size="4")
					span.mx-1 from
					select.franchise-list.form-control
					span.mx-1 in
					select.season-list.form-control
						option #{parseInt(season)}
						option #{parseInt(season) + 1}
						option #{parseInt(season) + 2}
					button.add-cash.btn.btn-sm.btn-primary.ml-1 +

				ul.assets.mt-4
					li Nothing

	div.container
		div.wordpress
			textarea.col-12(rows="20")
			button.render-wordpress.btn.btn-sm.btn-primary Render WordPress Code
			button.post-wordpress.btn.btn-sm.btn-primary.ml-1 Post to WordPress

block scripts
	script(src='/trade.js')
